// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 20px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    color: white;
    @media only screen and (max-width: $smart-phone-max-width) {
      padding: 90px 0 50px;
    }
    @media only screen and (min-width: $smart-phone-max-width) {
      padding: 130px 0 80px;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      @media only screen and (max-width: $smart-phone-max-width) {
        font-size: 35px;
      }
      font-size: 48px;
      margin-top: 0;
      font-weight: $font-weight-middle-bold;
    }
    .meta {
      font-size: 18px;
      a {
        color: $cyan;
      }
    }
    .subheading {
      @media only screen and (max-width: $smart-phone-max-width) {
        font-size: 20px;
      }
      font-size: 26px;
      font-weight: $font-weight-light-bold;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: $tablet-max-width) {
      h1 {
        font-size: 48px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}
