// Styling for the post page
.post-preview {
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      @media only screen and (max-width: $tablet-max-width) {
        font-size: 24px;
      }
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      font-weight: $font-weight-light-bold;
      margin: 0 0 10px;
    }
  }
  > .post-meta {
    @media only screen and (max-width: $tablet-max-width) {
      font-size: 16px;
    }
    font-size: 18px;
    //font-style: italic;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}
